.basicInfo{
    display: flex;
    flex-direction: column;
    line-height: 5px;
}
/* ///////////////
 */
 .basicInfoUi{
/* background-color: lightblue; */
 }
 

button{
    border: none;
 }
 .topp{
    margin-top: -65px;
 }